<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{{ url_for('static', filename='new/css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='new/css/main.css') }}">
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='	text/css'>
	</head>
	<body>

		<!-- TODO: Place favicon.ico and apple-touch-icon.png in the root directory -->
		<header>
			<h1>Gabriel Florit</h1>
			<ul>
				<li><a href='http://twitter.com/gabrielflorit'>twitter</a></li>
				<li><a href='https://github.com/gabrielflorit'>github</a></li>
			</ul>
		</header>

		<section class='projects'></section>
		
		<section>

			<article>
				<h6>Mar. 16, 2012</h6>
				<h3>
					<a href='http://livecoding.io'>Live coding in d3</a>
				</h3>
				<p>
					<a href="http://worrydream.com/">Bret Victor</a> is a genius. His recent CUSEC 2012 talk, <a href="http://vimeo.com/36579366">Inventing on Principle</a>, is one of the best talks I've ever seen. If you watch only one talk this year, make sure it's this one.
				</p>
				<p>
					I was blown away by his 'live coding' idea, but couldn't find any actual live examples, so I put together a quick demo using <a href="http://mbostock.github.com/d3/">d3</a> and <a href="http://ace.ajax.org/">Ace</a>. I 100% totally based it on Bret's idea - down to the clever book styling. Imitation is the sincerest... etc etc.
				</p>
				<p>
					The default code is Mike Bostock's beautiful <a href="http://mbostock.github.com/d3/ex/chord.html">chord diagram</a>, tweaked to fit the <a href="https://github.com/ajaxorg/ace/blob/master/build/src/theme-twilight-uncompressed.js">Twilight theme</a>. And remember, click the pulsing red numbers and hold down the alt key!
				</p>
				<a href='http://livecoding.io'>
					<img class='other' src="{{ url_for('static', filename='new/img/water.png') }}"></img>
				</a>
			</article>

			<article>
				<h6>Dec. 31, 2011</h6>
				<h3>
					<a href='/a-half-decade-of-rising-poverty'>A half-decade of rising poverty</a>
				</h3>
				<p>
					I put together a more polished version of my previous work on mapping poverty by county, adding a bit more interactivity including a sparkline showing historical poverty rate change. The <a href="/blog-choropleth-classification-systems">continuous scale</a> does a great job of highlighting spatial patterns.
				</p>
				<a href='/a-half-decade-of-rising-poverty'>
					<img class='other' src="{{ url_for('static', filename='new/img/a-half-decade-of-rising-poverty.png') }}"></img>
				</a>
			</article>

		</section>

		<footer><h6>&copy; Gabriel Florit, 2013</h6></footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
		<script src="{{ url_for('static', filename='new/js/main.js') }}"></script>
	</body>
</html>
