<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>ACA PUMA</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lusitana|Open+Sans:400italic,400,700' />
<link rel='stylesheet' type='text/css' href='../static/acapuma/css/acapuma.css'  />

<link rel="shortcut icon" href="static/img/favicon.ico">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27676826-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div id='kfflogo'>
		<img src='../static/acapuma/img/kfflogo_transparent.png' />
	</div>
	<div id='drawer'>
		<div id='panelOne'>
 			<h1>Who Benefits from the Affordable Care Act Coverage Expansions?</h1>
			<h2>Starting in 2014, most people who are uninsured or buying individual insurance with incomes up to four times the poverty level ($92,200 for a family of four and $44,680 for a single person in 2012) will be eligible for expanded coverage through Medicaid or tax credits to subsidize the cost of private insurance. Explore the map to find out more.</h2>
			<form class='searchLocation'>
				<input type='text'></input>
				<p class='error'>The address you entered did not return any results.</p>
				<p class='loading'>loading...</p>
			</form>
		</div>
	</div>
	<div id='map'></div>
	<div id='legend'>
		<div class='title'>% of non-elderly who could benefit from ACA expansions</div>
		<ul class='colors'>
			<li style='background-color:rgba(229,239,249,255)'>&nbsp;</li>
			<li style='background-color:rgba(210,227,243,255)'>&nbsp;</li>
			<li style='background-color:rgba(186,214,235,255)'>&nbsp;</li>
			<li style='background-color:rgba(154,200,224,255)'>&nbsp;</li>
			<li style='background-color:rgba(114,178,215,255)'>&nbsp;</li>
			<li style='background-color:rgba(81,156,203,255)'>&nbsp;</li>
			<li style='background-color:rgba(52,132,190,255)'>&nbsp;</li>
			<li style='background-color:rgba(27,106,175,255)'>&nbsp;</li>
			<li style='background-color:rgba(8,78,152,255)'>&nbsp;</li>
			<li style='background-color:rgba(8,44,102,255)'>&nbsp;</li>
		</ul>
		<ul class='labels'>
			<li class='first'>0</li>
			<li>4</li>
			<li>8</li>
			<li>12</li>
			<li>16</li>
			<li>20</li>
			<li>24</li>
			<li>28</li>
			<li>32</li>
			<li>36</li>
			<li>40</li>
		</ul>
		<div class='source'>SOURCE: <a href='http://healthreform.kff.org/coverage-expansion-map.aspx'>KFF analysis of IPUMS ACS, 2010</a></div>
	</div>
	<div id='tooltip'>
		<div class='numberAndPeople'>
			<div class='number'></div>
			<div class='people'>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
			</div>
		</div>
 		<div class='explanation'>percent of the non-elderly population who could benefit from the ACA coverage expansions</div>
 	</div>
</body>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript' src='../static/acapuma/js/modestmaps.min.js'></script>
<script type='text/javascript' src='../static/acapuma/js/easey.js'></script>
<script type='text/javascript' src='../static/acapuma/js/easey.handlers.js'></script>
<script type='text/javascript' src='../static/acapuma/js/d3.min.js'></script>
<script type='text/javascript' src='../static/acapuma/js/d3.csv.min.js'></script>
<!-- <script type='text/javascript' src='../static/inc500/easey/ext/ender.js'></script> -->
<script type='text/javascript' src='../static/acapuma/js/wax.mm.js'></script>
<script type='text/javascript' src='../static/acapuma/js/acapuma.js'></script>
<script type='text/javascript' src='../static/acapuma/js/highcharts.js'></script>
</html>
