<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>ACA PUMA</title>

<link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lusitana|Open+Sans:400italic,400,700' />
<link rel='stylesheet' type='text/css' href='../static/acapuma/css/acapuma.css'  />

</head>
<body>
	<div id='kfflogo'>
		<img src='../static/acapuma/img/kfflogo_transparent.png' />
	</div>
	<div id='drawer'>
		<div id='panelOne'>
 			<h1>Who Benefits from the Affordable Care Act Coverage Expansions?</h1>
			<h2>Starting in 2014, most people who are uninsured or buying individual insurance with incomes up to four times the poverty level ($92,200 for a family of four and $44,680 for a single person in 2012) will be eligible for expanded coverage through Medicaid or tax credits to subsidize the cost of private insurance. Enter your address to find out more.</h2>
			<form class='searchLocation'>
				<input type='text'></input>
				<p class='error'>The address you entered did not return any results.</p>
			</form>
		</div>
	</div>
	<div id='map'></div>
	<div id='tooltip'>
		<div class='place'></div>
		<div class='numberAndPeople'>
			<div class='number'></div>
			<div class='people'>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
				<div class='iconAndPanel'>
					<div class='icon'>&nbsp;</div>
					<div class='panel'>&nbsp;</div>
				</div>
			</div>
		</div>
 		<div class='explanation'>percent of the non-elderly population who could benefit from the ACA coverage expansions</div>
 	</div>
</body>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript' src='../static/acapuma/js/modestmaps.min.js'></script>
<script type='text/javascript' src='../static/acapuma/js/easey.js'></script>
<script type='text/javascript' src='../static/acapuma/js/easey.handlers.js'></script>
<!-- <script type='text/javascript' src='../static/inc500/easey/ext/ender.js'></script> -->
<script type='text/javascript' src='../static/acapuma/js/wax.mm.js'></script>
<script type='text/javascript' src='../static/acapuma/js/acapuma.js'></script>
<script type='text/javascript' src='../static/acapuma/js/highcharts.js'></script>
</html>
