{% extends "layout.html" %}
{% block body %}
{% include 'blog/water-content.html' %}
<a href="blog-water#disqus_thread" data-disqus-identifier="water">Comments</a>
<br/>
<br/>
<br/>
<br/>
{% include 'blog/a-half-decade-of-rising-poverty-content.html' %}
<a href="blog-a-half-decade-of-rising-poverty#disqus_thread" data-disqus-identifier="A half-decade of rising poverty">Comments</a>
<br/>
<br/>
<br/>
<br/>
{% include 'blog/choropleth-classification-systems-content.html' %}
<a href="blog-choropleth-classification-systems#disqus_thread" data-disqus-identifier="Choropleth classification systems">Comments</a>
<script type="text/javascript">
    var disqus_shortname = 'gabrielflorit';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}