<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>


<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>gabrielflor.it</title>
<meta name="description" content="">
<meta name="author" content="">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- CSS
================================================== -->
<link rel="stylesheet" href="static/css/base.css">
<link rel="stylesheet" href="static/css/skeleton.css">
<link rel="stylesheet" href="static/css/layout.css">


<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="static/img/favicon.ico">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27676826-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<style>

	div.container {
		padding-top: 60px;
	}

	span.bold {
		font-weight: bold;
	}

	span.italic {
		font-style: italic;
	}

	div.content h4 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	div.content img {
		padding-top: 10px;
		padding-bottom: 40px;
	}

	img {
		max-width: 100%;
	}


</style>

<!--[if IE]><style type="text/css">
	img {
		width: 100%;
	}
</style><![endif]-->

<!-- Primary Page Layout
================================================== -->
<div class="container">

	<div class="three columns sidebar">
		<nav>
			<h3>gabrielflor.it</h3>
			<ul>
			<li><a href="http://www.twitter.com/gabrielflorit">twitter</a></li>
			</ul>
			<h4>Projects</h4>
			<ul>
			<li><a href='/counties'>Poverty estimates by county, 1997-2009</a></li>
			</ul>
		</nav>
	</div>

	<div class="twelve columns offset-by-one content">
		<div>
			<h3>Choropleth classification systems</h3>
			
			<small>December 14, 2011</small>

			<p>
				<a href='counties'><span class='bold italic'>Click here to access the interactive map.</span></a>
			</p>

			<p>
				<span class='bold'>Data classification</span> is a critical component of choropleths. The number of classes and our choice of classification system can turn the same data into seemingly different maps. I'll illustrate with a number of examples - of maps, of course. We'll look at total percentage of people living in poverty by county (data courtesy of the <a href='http://www.census.gov/did/www/saipe/'>U.S. Census Bureau</a>).
			</p>

			<h4>Equal intervals</h4>
			<p>
				Let's start with <span class='bold'>equal intervals</span>. In this classification system, the entire range of values is divided equally into the desired number of intervals. <a href='counties?class=0&year=12&breaks=4&hue=230'>4 equal intervals:</a>
				<a href='counties?class=0&year=12&breaks=4&hue=230'>
					<img src='static/img/maps/interval-4.png' />
				</a>
				<a href='counties?class=0&year=12&breaks=8&hue=230'>8 equal intervals:</a>
				<a href='counties?class=0&year=12&breaks=8&hue=230'>
					<img src='static/img/maps/interval-8.png' />
				</a>
			</p>

			<h4>Quantiles</h4>
			<p>
				Now let's switch to <span class='bold'>quantiles</span>. Here, each class is of equal size - each class has the same number of values. <a href='counties?class=1&year=12&breaks=4&hue=230'>4 quantiles (also known as quartiles):</a>
				<a href='counties?class=1&year=12&breaks=4&hue=230'>
					<img src='static/img/maps/quantile-4.png'  />
				</a>
				<a href='counties?class=1&year=12&breaks=8&hue=230'>8 quantiles:</a>
				<a href='counties?class=1&year=12&breaks=8&hue=230'>
					<img src='static/img/maps/quantile-8.png' />
				</a>
			</p>

			<h4>k-means clusters</h4>
			<p>
				Finally we'll look at <span class='bold'>k-means clusters</span>. This classification system creates classes of values such that the sum of the squared distance from each value to the center of its respective class is minimized. <a href='counties?class=2&year=12&breaks=4&hue=230'>4 classes:</a>
				<a href='counties?class=2&year=12&breaks=4&hue=230'>
					<img src='static/img/maps/kmeans-4.png'  />
				</a>
				<a href='counties?class=2&year=12&breaks=4&hue=230'>8 classes:</a>
				<a href='counties?class=2&year=12&breaks=4&hue=230'>
					<img src='static/img/maps/kmeans-8.png' />
				</a>
			</p>

			<p>
				If you're still reading, my apologies if you've had enough blue maps for a day. Now, which one do you prefer? Remember, they all show the same data - the only change is the way the data is broken up into classes. I chose equal intervals, quantiles and k-means clustering because they're fairly popular classification systems amongst cartographers.
			</p>
			
			<h4>Continuous classes</h4>
			<p>
				<a href='counties?class=3&year=12&hue=230'>I have one more map to show you:</a>
				<a href='counties?class=3&year=12&hue=230'>
					<img src='static/img/maps/continuous.png' />
				</a>
				There is no grouping of values here. Instead, a <span class='bold'>continuous</span> input domain (the data points, ranging from 0% to 62%) is mapped to a <span class='bold'>continuous</span> output range (in this case, a color map of bluish hue). This is also equivalent to choosing equal intervals and increasing the number of classes to infinity.
			</p>

			<p>
				I prefer this type of classification system <em>for this particular data set</em> - we have many data points (3,143 counties), most of them exhibiting regular spatial patterns. However, if you have a small number of data points, need a print-friendly map, or are concerned about accessibility, you're probably better off choosing a map with fewer number of classes, ideally between 4 and 7.
			</p>
		</div>
		<hr>
		<div>
		<p class="remove-bottom">
			<small><a href="http://gabrielflor.it">gabriel florit</a>, 2011 ©</small>
		</p>
		</div>
	</div>

</div><!-- container -->


<!-- JS
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="static/js/tabs.js"></script>

<script>
	// this comes from http://unstoppablerobotninja.com/entry/fluid-images/
	var imgSizer = {
		Config : {
			imgCache : []
			,spacer : "static/img/spacer.gif"
		}

		,collate : function(aScope) {
			var isOldIE = (document.all && !window.opera && !window.XDomainRequest) ? 1 : 0;
			if (isOldIE && document.getElementsByTagName) {
				var c = imgSizer;
				var imgCache = c.Config.imgCache;

				var images = (aScope && aScope.length) ? aScope : document.getElementsByTagName("img");
				for (var i = 0; i < images.length; i++) {
					images[i].origWidth = images[i].offsetWidth;
					images[i].origHeight = images[i].offsetHeight;

					imgCache.push(images[i]);
					c.ieAlpha(images[i]);
					images[i].style.width = "100%";
				}

				if (imgCache.length) {
					c.resize(function() {
						for (var i = 0; i < imgCache.length; i++) {
							var ratio = (imgCache[i].offsetWidth / imgCache[i].origWidth);
							imgCache[i].style.height = (imgCache[i].origHeight * ratio) + "px";
						}
					});
				}
			}
		}

		,ieAlpha : function(img) {
			var c = imgSizer;
			if (img.oldSrc) {
				img.src = img.oldSrc;
			}
			var src = img.src;
			img.style.width = img.offsetWidth + "px";
			img.style.height = img.offsetHeight + "px";
			img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + src + "', sizingMethod='scale')"
			img.oldSrc = src;
			img.src = c.Config.spacer;
		}

		// Ghettomodified version of Simon Willison's addLoadEvent() -- http://simonwillison.net/2004/May/26/addLoadEvent/
		,resize : function(func) {
			var oldonresize = window.onresize;
			if (typeof window.onresize != 'function') {
				window.onresize = func;
			} else {
				window.onresize = function() {
					if (oldonresize) {
						oldonresize();
					}
					func();
				}
			}
		}
	}

	addLoadEvent(function() {
		imgSizer.collate();
	});

	function addLoadEvent(func) {
		var oldonload = window.onload;
		if (typeof window.onload != 'function') {
			window.onload = func;
		} else {
			window.onload = function() {
				if (oldonload) {
					oldonload();
				}
				func();
			}
		}
	}
</script>

<!-- End Document
================================================== -->
</body>
</html>
