body {
	background: #fff;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background: #fff;
}


/* custom fonts BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'FranchiseRegular';
    src: url('franchisekit/franchise-bold-webfont.eot');
    src: url('franchisekit/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('franchisekit/franchise-bold-webfont.woff') format('woff'),
         url('franchisekit/franchise-bold-webfont.ttf') format('truetype'),
         url('franchisekit/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* custom fonts END */


/* drawer BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
#drawer {
	position: absolute;
	z-index: 10;
	background: #001B4A;
	color: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	width: 24em;
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	border-right: 1px solid #8C8C8C !important;
	border-right: 1px solid rgba(0, 0, 0, .45) !important;
	font-family:"Lusitana",georgia,"times new roman",times,serif;
	opacity:0.85;
	-moz-opacity:0.85;
	filter:alpha(opacity=85);
}

#drawer #panelOne {
	padding: 2em;
}

#drawer h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

#drawer h2 {
	font-size: 1em;
	line-height: 1.5em;
}

#kfflogo {
	position: absolute;
	bottom: 1em;
	left: 2em;
	z-index: 100;
}
/* drawer END */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */


/* tooltip BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
#tooltip {
	position: absolute;
	right: 1em;
	top: 1em;
	background: #fff;
	color: #222;
	padding: 1em;
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	border: 1px solid #8C8C8C;
	border: 1px solid rgba(0, 0, 0, .45);
	border-bottom: 1px solid #666;
	width: 15em;
	font-family:"Open Sans",Arial,sans-serif;
}

#tooltip .numberAndGraph .number {
	font-family:"FranchiseRegular",Arial,sans-serif;
	font-size: 4em;
}

#tooltip .explanation {
	font-size: 0.8em;
	font-style: italic;
}
/* tooltip END */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
