body {
	background: #fff;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background: #fff;
}


/* custom fonts BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'FranchiseRegular';
    src: url('franchisekit/franchise-bold-webfont.eot');
    src: url('franchisekit/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('franchisekit/franchise-bold-webfont.woff') format('woff'),
         url('franchisekit/franchise-bold-webfont.ttf') format('truetype'),
         url('franchisekit/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* custom fonts END */


/* drawer BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
#drawer {
	position: absolute;
	z-index: 10;
	background: #001B4A;
	color: #fff;
	top: 0;
	left: 0;
	bottom: 0;
	width: 24em;
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 1) !important;
	border-right: 1px solid #8C8C8C !important;
	border-right: 1px solid rgba(0, 0, 0, .45) !important;
	font-family:"Lusitana",georgia,"times new roman",times,serif;
	opacity:0.85;
	-moz-opacity:0.85;
	filter:alpha(opacity=85);
}

#drawer #panelOne {
	padding: 2em;
}

#drawer h1 {
	font-size: 2em;
	margin-bottom: 1em;
}

#drawer h2 {
	font-size: 1em;
	line-height: 1.5em;
}

#kfflogo {
	position: absolute;
	bottom: 1em;
	left: 2em;
	z-index: 100;
}
/* drawer END */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */


/* tooltip BEGIN */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
#tooltip {
	visibility: hidden;
	position: absolute;
	right: 1em;
	top: 1em;
	background: #183966;
	color: #222;
	padding: 1em;
	-moz-box-shadow: 0 1px 8px rgba(24, 57, 102, 1);
	-webkit-box-shadow: 0 1px 8px rgba(24, 57, 102, 1);
	box-shadow: 0 1px 8px rgba(24, 57, 102, 1);
	border: 1px solid #8C8C8C;
	border: 1px solid rgba(0, 0, 0, .45);
	border-bottom: 1px solid #000;
	width: 27em;
	font-family:"Open Sans",Arial,sans-serif;
	color: white;
}

#tooltip .numberAndPeople {
	position: relative;
	width: 100%;
	font-family:"FranchiseRegular",Arial,sans-serif;
	float: left;
}

#tooltip .numberAndPeople .number {
	position: relative;
	width: 30%;
	float: left;
	font-size: 600%;
	text-align: right;
}

#tooltip .numberAndPeople .people {
	position: relative;
	margin-top: 3%;
	width: 65%;
	float: right;
	overflow: hidden;
	font-size: 400%;
}

#tooltip .numberAndPeople .people .iconAndPanel {
	position: relative;
	width: 8%;
	margin-left: 2%;
	float: left;
}

#tooltip .numberAndPeople .people .iconAndPanel div {
	position: relative;
}

#tooltip .numberAndPeople .people .iconAndPanel div.icon {
	background-image: url('../img/invisiman3.png');
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 10;
}

#tooltip .numberAndPeople .people .iconAndPanel div.panel {
	position: absolute;
	background-color: white;
	width: 100%;
}

#tooltip .explanation {
	clear: both;
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
}
/* tooltip END */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
