body {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
}

#page {
	position: absolute;
	height: 80%;
	width: 90%;
	top: 10%;
	left: 5%;
}

#display {
	position: absolute;
	left: 0;
	top: -1px;
	height: 100%;
	width: 50%;
	background: white;
	border: solid #FFF 1px;
	border-right: none;
	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 40px 10px;
	border-bottom-right-radius: 40px 10px;
}

#code {
	position: absolute;
	top: -1px;
	right: 0;
	height: 100%;
	width: 50%;
	font-size: 1em;
	border: solid #FFF 1px;
	border-left: none;
	background: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 40px 10px;
	border-bottom-left-radius: 40px 10px;
	-moz-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.4);
	background: #141414;
}

#code .ace_gutter {
	top: -1px;
	border: solid #FFF 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 40px 10px;
	border-bottom-left-radius: 40px 10px;
}

#code .ace_sb {
	display: none;
}

