<!DOCTYPE html>
<html>
    <head>
        <title>polymaps - counties</title>
        <script type='text/javascript' src='../static/js/d3/d3.min.js'></script>
        <script type='text/javascript' src='../static/js/polymaps/polymaps.min.js?2.5.0'></script>
        <script type='text/javascript' src='../static/js/other/nns.min.js?1.1.0'></script>
        <style type='text/css'>

            @import url('../static/css/other/polymaps.style.css?2.2.0');

            div#map {
                background: #E5E0D9;
            }

        </style>
    </head>
    <body>
        <div id='map'></div>

        <script type='text/javascript'>

var po = org.polymaps;
var saipeData;
var allValues = [];
var years = [];
var currentYearIndex = 0;
var noData = 'rgb(255,255,255)';
var geoJson;

var div = document.getElementById("map");

var map = po.map()
    .container(div.appendChild(po.svg("svg")))
    .add(po.interact())
    .add(po.hash());

/*
 * Load the "AerialWithLabels" metadata. "Aerial" and "Road" also work. For more
 * information about the Imagery Metadata service, see
 * http://msdn.microsoft.com/en-us/library/ff701716.aspx
 * You should register for your own key at https://www.bingmapsportal.com/.
 */
var script = document.createElement("script");
script.setAttribute("type", "text/javascript");
script.setAttribute("src", "http://dev.virtualearth.net"
    + "/REST/V1/Imagery/Metadata/AerialWithLabels"
    + "?key=AgqCBrjko-oKQrogePbE3HSwu7ROkvHzmHbtKBt4EIJwITqdl6Gp1Kad2bVIpkeY"
    + "&jsonp=callback");
document.body.appendChild(script);

function callback(data) {

  /* Display each resource as an image layer. */
  var resourceSets = data.resourceSets;
  for (var i = 0; i < resourceSets.length; i++) {
    var resources = data.resourceSets[i].resources;
    for (var j = 0; j < resources.length; j++) {
      var resource = resources[j];
      map.add(po.image()
          .url(template(resource.imageUrl, resource.imageUrlSubdomains)))
          .tileSize({x: resource.imageWidth, y: resource.imageHeight});
    }
  }

        d3.json('../static/data/saipe_1997_2009.json', function(saipe) {

            // get the years from the csv (will do it later)
            years = d3.range(1997, 2010);

            saipeData = saipe;

            // get max and min
            for (var i = 0; i < years.length; i++) {
                var year = saipeData[years[i]];
                for (var datum in year) {
                    allValues.push(year[datum]);
                }
            }

            minValue = d3.min(allValues);
            maxValue = d3.max(allValues);

            // need to get min and max from data
            scale = d3.scale.linear().domain([minValue, maxValue]).range([0, 100]);
            
            geoJson = po.geoJson()
                .url('../static/geojson/counties.json')
                .on('load', loadOrShow)
                .on('show', loadOrShow);

            map.add(geoJson);
        });

}

/** Returns a Bing URL template given a string and a list of subdomains. */
function template(url, subdomains) {
  var n = subdomains.length,
      salt = ~~(Math.random() * n); // per-session salt

  /** Returns the given coordinate formatted as a 'quadkey'. */
  function quad(column, row, zoom) {
    var key = "";
    for (var i = 1; i <= zoom; i++) {
      key += (((row >> zoom - i) & 1) << 1) | ((column >> zoom - i) & 1);
    }
    return key;
  }

  return function(c) {
    var quadKey = quad(c.column, c.row, c.zoom),
        server = Math.abs(salt + c.column + c.row + c.zoom) % n;
    return url
        .replace("{quadkey}", quadKey)
        .replace("{subdomain}", subdomains[server]);
  };
}

        function loadOrShow(e) {

            for (var i = 0; i < e.features.length; i++) {

                var feature = e.features[i];
                var fips = feature.data.properties.GEO_ID.substring(9, 14);

                var datum = saipeData[years[currentYearIndex]][fips];
                var color;

                if (datum) {
                    color = convertPercentToColor(100 - scale(datum));
                } else {
                    color = noData;
                }

                feature.element.setAttribute('fill',color);
                feature.element.setAttribute('opacity',1);
             }
        }
        d3.select(window).on("keydown", function() {

            switch (d3.event.keyCode) {

                // previous
                case 79:
                    if (currentYearIndex > 0) {
                        currentYearIndex--;
                        geoJson.reshow();
                    }
                    break;
                
                // next
                case 80:
                    if (currentYearIndex < years.length - 1) {
                        currentYearIndex++; 
                        geoJson.reshow();
                    }
                    break;
            }
        });


        function convertPercentToColor(d) {
            
            return d3.hsl('hsl(231, 100%, ' + d + '%)').toString(); 
        }

        map.add(po.compass().pan('none'));

        (function(){function d(){if(b=!b){c.style('position','fixed').style('border-width',0).style('width','100%').style('height','100%').style('top',0).style('left',0);a.style('position','fixed').style('right','16px').style('top','16px');e.attr('transform','translate(16,16)rotate(135)scale(5)translate(-1.85,0)');f.style('visibility','hidden').style('overflow','hidden')}else{c.style('position',null).style('border-width',null).style('width',null).style('height',null).style('top',null).style('left',null);
        a.style('position','absolute').style('right','-16px').style('top','-16px');e.attr('transform','translate(16,16)rotate(-45)scale(5)translate(-1.85,0)');f.style('visibility',null).style('overflow',null)}map.resize()}var f=n$(document.body),c=n$('#map').style('visibility','visible'),b=false,a=c.add('svg:svg').attr('width',32).attr('height',32).style('position','absolute').style('right','-16px').style('top','-16px').style('visibility','visible').on('mousedown',d);a.add('svg:circle').attr('cx',16).attr('cy',
        16).attr('r',14).attr('fill','#fff').attr('stroke','#ccc').attr('stroke-width',4).add('svg:title').text('Toggle fullscreen. (ESC)');var e=a.add('svg:path').attr('transform','translate(16,16)rotate(-45)scale(5)translate(-1.85,0)').attr('d','M0,0L0,.5 2,.5 2,1.5 4,0 2,-1.5 2,-.5 0,-.5Z').attr('pointer-events','none').attr('fill','#aaa');window.addEventListener('keydown',function(g){g.keyCode==27&&b&&d()},false)})();
        </script>
    </body>
</html>

