<!doctype html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8'>
        <title>Poverty estimates by county</title>
        <link type='text/css' rel='stylesheet' href='../static/css/choropleth.css?v={{vars.version}}'/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]>
        <link type='text/css' rel='stylesheet' href='static/css/choropleth-ie8.css'/>
        <![endif]-->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-27676826-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <style>
            .spark path {
                stroke: #CCC;
                stroke-width: 3;
                fill: none;
            }

            .spark circle {
                fill: #CCC;
                stroke: none;
            }

            .spark text {
                fill: #CCC;
            }

            .countyName text {
                font-size: 1.25em;
                fill: #CCC;
            }

            .countyName .county {
                font-size: 1.5em;
            }

            .countyName .state {
                font-size: 1.25em;
            }
        </style>
    </head>
    <body>
        <div id='ie8'>This site has been optimized for modern browsers. Please consider switching to a modern browser such as <a href='http://www.google.com/chrome'>Chrome</a>.</div>
        <div id='content'>
            <div id='chart'></div>
            <div id='explanation'>
                <a id='about' href='/'>what's this all about?</a>
                <img id='loading' src='../static/img/clock.png' />
                <div id='controls'>
                    <h1>controls</h1>
                    <div class='buttons' title='keyboard shortcut: c/v'>
                        <div class='button'>
                            <img id='classification-left' src='../static/img/leftarrow32.png' />
                        </div>
                        <div class='text'>
                            <p id='controls-classification'>classification: <span class='current'></span></p>
                        </div>
                        <div class='button'>
                            <img id='classification-right' src='../static/img/arrowright32.png' />
                        </div> 
                        <div class='end'></div>
                    </div>
                    <div class='buttons' title='keyboard shortcut: left/right'>
                        <div class='button'>
                            <img id='year-left' src='../static/img/leftarrow32.png' />
                        </div>
                        <div class='text'>
                            <p id='controls-year'>year: <span class='current'></span></p>
                        </div>
                        <div class='button'>
                            <img id='year-right' src='../static/img/arrowright32.png' />
                        </div> 
                        <div class='end'></div>
                    </div>
                    <div class='buttons' title='keyboard shortcut: h/j'>
                        <div class='button'>
                            <img id='hue-left' src='../static/img/leftarrow32.png' />
                        </div>
                        <div class='text'>
                            <p id='controls-hue'>hue: <span class='current'></span></p>
                        </div>
                        <div class='button'>
                            <img id='hue-right' src='../static/img/arrowright32.png' />
                        </div> 
                        <div class='end'></div>
                    </div>
                    <div class='buttons' title='keyboard shortcut: up/down'>
                        <div class='button'>
                            <img id='breaks-left' src='../static/img/leftarrow32.png' />
                        </div>
                        <div class='text'>
                            <p id='controls-breaks'>breaks: <span class='current'></span></p>
                        </div>
                        <div class='button'>
                            <img id='breaks-right' src='../static/img/arrowright32.png' />
                        </div> 
                        <div class='end'></div>
                    </div>
                </div>

            </div>
        </div>
    </body>
    <script src='../static/js/d3/d3.min.js'></script>
    <script src='../static/js/d3/d3.geo.min.js'></script>
    <script src='../static/js/d3/d3.csv.min.js'></script>
    <script src='../static/js/science.js/science.min.js'></script>
    <script src='../static/js/science.js/science.stats.min.js'></script>
    <!--<script src='../static/js/jquery.js'></script>-->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script src='../static/js/other/util.js'></script>
    <script src='../static/js/d3.counties.js?v={{vars.version}}'></script>
</html>



