<!doctype html>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=utf-8'>
        <title>d3 - counties</title>
        <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css'>
        <script type='text/javascript' src='../static/js/d3/d3.min.js'></script>
        <script type='text/javascript' src='../static/js/d3/d3.geo.min.js'></script>
        <script type='text/javascript' src='../static/js/d3/d3.csv.min.js'></script>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
        <script type='text/javascript' src='../static/js/other/jquery.dimensions.js'></script>
        <script type='text/javascript' src='../static/js/other/jquery.tooltip.min.js'></script>
        <link type='text/css' rel='stylesheet' href='../static/css/poverty.css?v={{vars.version}}'/>
        <link type='text/css' rel='stylesheet' href='../static/css/other/jquery.tooltip.css'/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!--[if lte IE 8]>
        <link type='text/css' rel='stylesheet' href='static/css/choropleth-ie8.css'/>
        <![endif]-->
    </head>
    <body>
        <div id='ie8'>This site has been optimized for modern browsers. Please consider switching to a modern browser such as <a href='http://www.google.com/chrome'>Chrome</a>.</div>
        <div id='content'>
            <div id='chart'></div>
            <h2 id='loading'>loading...</h2>
            <h2 id='controls-leftright'>press left / right arrows on keyboard to change years</h2>
            <h2 id='controls-hue'>press h to change hue</h2>
        </div>
    </body>
    <script type='text/javascript' src='../static/js/d3.counties{{vars.case}}.js?v={{vars.version}}'></script>
</html>



