<!doctype html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="water/css/water.css") }}' />
</head>
<body>
    <div id='page'>
        <div id='display'>
            <svg style='width: 100%; height: 100%;'></svg>
        </div>
        <div id='editor'>
        </div>
        <div id='font-controls'>
            <a class='increase font-control' href='#'>&nbsp;</a>
            <a class='decrease font-control' href='#'>&nbsp;</a>
        </div>
    </div>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script src='{{ url_for("static", filename="water/js/d3.v2.min.js") }}'></script>
    <script src='{{ url_for("static", filename="water/js/water.js") }}'></script>
    <script src='{{ url_for("static", filename="water/js/ace/ace.js") }}' type="text/javascript" charset="utf-8"></script>
    <script src='{{ url_for("static", filename="water/js/ace/theme-twilight.js") }}' type="text/javascript" charset="utf-8"></script>
    <script src='{{ url_for("static", filename="water/js/ace/mode-javascript.js") }}' type="text/javascript" charset="utf-8"></script>
</body>
</html>