<!doctype html>
<html>
<head>
    <meta charset='utf-8' />
    <title>water demo</title>
    <link rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css' />
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="water/css/waterdemo.css") }}' />
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="water/slider/css/humanity/jquery-ui-slider.css") }}' />
    <link rel="shortcut icon" href="static/img/favicon.ico">
</head>
<body>
    <svg style='width: 100%; height: 90%;'></svg>
    <div id="slider"></div>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script src='{{ url_for("static", filename="water/slider/js/jquery-ui-slider.js") }}'></script>
    <script src='{{ url_for("static", filename="water/js/d3.v2.min.js") }}'></script>
    <script src='{{ url_for("static", filename="water/js/waterdemo.js") }}'></script>
</body>
</html>