{% extends "layout.html" %}
{% block body %}
		<div>
			<h3><a href='blog-a-half-decade-of-rising-poverty'>A half-decade of rising poverty</a></h3>
			
			<small>December 31, 2011</small>

			<p>
				<a href='a-half-decade-of-rising-poverty'><span class='bold italic'>Click here to access the interactive map.</span></a>
			</p>

			<p>
				I put together a more polished version of my previous work on mapping poverty by county, adding a bit more interactivity including a sparkline showing historical poverty rate change. The <a href='/blog-choropleth-classification-systems'>continuous scale</a> does a great job of highlighting spatial patterns.
				<a href='a-half-decade-of-rising-poverty'>
					<img src='static/img/a-half-decade-of-rising-poverty.png' class='last' />
				</a>
			</p>
			<a href='blog-a-half-decade-of-rising-poverty'>Comments</a>
		</div>
{% endblock %}