<div>
	<h3><a href='blog-water'>Live coding in d3</a></h3>
	
	<small>March 16, 2012</small>

	<p>
		<a href='water'><span class='bold italic'>Click here to access the app.</span></a>
	</p>

	<p>
		<a href='http://worrydream.com/'>Bret Victor</a> is a genius. His recent CUSEC 2012 talk, <a href='http://vimeo.com/36579366'>Inventing on Principle</a>, is one of the best talks I've ever seen. If you watch only one talk this year, make sure it's this one.
	</p>

	<p>
		I was blown away by his 'live coding' idea, but couldn't find any actual live examples, so I put together a quick demo using <a href='http://mbostock.github.com/d3/'>d3</a> and <a href='http://ace.ajax.org/'>Ace</a>. I 100% totally based it on Bret's idea - down to the clever book styling. Imitation is the sincerest... etc etc.
	</p>

	<p>
		The default code is Mike Bostock's beautiful <a href='http://mbostock.github.com/d3/ex/chord.html'>chord diagram</a>, tweaked to fit the <a href='https://github.com/ajaxorg/ace/blob/master/build/src/theme-twilight-uncompressed.js'>Twilight theme</a>. And remember, click the pulsing red numbers and hold down the alt key!
		<a href='water'>
			<img src='static/img/water.png' class='last' />
		</a>
	</p>
</div>